Django>=3.2,<4.0
djangorestframework>=3.12,<4.0
gunicorn>=20.0.4
Pillow>=8.0.1
psycopg2-binary
mysqlclient>=2.0.3 # MySQL
django-environ>=0.4.5
django-ckeditor>=6.0.0
django-taggit>=1.5.1
django-debug-toolbar

